<!DOCTYPE html>
<html>
<head>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script>

//This function gets the major specified from the drop down list and sends it
//to the server. When the server respondes, it will show a list of possible classes in a major.
function returnMajor() 
{
    var majorSelected = document.getElementById("myMajor").value;
    //document.getElementById("demo").innerHTML = majorSelected;
    $.post("/major", //url
    {name: majorSelected}, //data 
    function(data) //function to call on return
    { 
      //Parses the data and creates the drop down list with the returned courses as course numbers
      var json = JSON.parse(data);
      $("#coursesInto").append("<select id='myCourse'>")
      for(var i = 0; i < data.length;i++)
      {
        $("#myCourse").append("<option value= " + json[i].courseNumber + ">" + json[i].courseNumber + "</option>");
      }
      $("#coursesInto").append("</select>")
    }
    );
}
//This function gets the class chosen from the drop down list and sends it to the server.
//When the server returns, the function will display the users chosen classes in a list
function addClass()
{
    var courseSelected = document.getElementById("myCourse").value;
    $.post("/add",
    {courseNumber: courseSelected},
    function(data)
    {
      var json = JSON.parse(data);

      $("#classList").append("<ol id= 'myCourses'>");

      for(var i = 0; i < data.length; i++)
      {
        $("#myCourses").append("<li>" + json[i].courseTitle + "</li>");
      }

      $("#classList").append("</ol>");
    }
    );
}
//This function will get the Major specified that the user wants to complete and send it to the server
//When the server returns the function will print the classes the user still needs to take in a list
function calculate()
{
  var majorSelected = document.getElementById("selectedMajor").value;
  $.post("/calc",
  {name: majorSelected},
  function(data)
  {
    var json = JSON.parse(data);
    console.log(data);
    $("#calcMajor").append("<p>Classes still needed to be taken</p>");
    $("#calcMajor").append("<ol id= 'neededClasses'>");
    for(var i = 0; i < data.length; i++)
    {
      $("#neededClasses").append("<li>" + json[i].courseTitle + "</li>");
    }

    $("#calcMajor").append("</ol>");
  }
  );
}

</script>
<style>
body {background-color: LIGHTCORAL;}
h2   {color: black;}
p    {color: white;}
ol   {color: white;}
</style>
</head>
<body>
<!-- Start of Page -->
<h2>Carthage College Graduation Tracker</h2>

<p>First add the classes you've taken</p>

<p>
</p>

<p> Please Select the Department: </p>

<!-- List of all the majors -->
<div id="majorList">
  <select id="myMajor">
	  <% @all_majors.each do |names| %>	
      <option value= <%= names.name %>><%= names.name %> </option>
    <% end %>
  </select>			
</div>

<p>
</p>

<!-- Button that will execute when the user has chosen the Major they want to add a class from -->
<button type="button" onclick="returnMajor()">Continue</button>

 <p> Please Select the Course You've Taken </p>

<!-- This will display the courses in a major -->
<div id="coursesInto">

</div>

<p>
</p>
<!-- This button will execute when a user has chosen a class they have taken  -->
<button type="button" onclick="addClass()">Add</button>

<p>
</p>
<!-- This will display the classes the user has taken -->
<div id="classList">

</div>

<p>
</p>

<p>Please Select Major You Are Trying To Finish</p>
<!-- This is will display the list of possible majors -->
<div id="secondMajorList">
  <select id="selectedMajor">
	  <% @all_majors.each do |names| %>	
      <option value= <%= names.name %>><%= names.name %> </option>
    <% end %>
  </select>			
</div>

<p>
</p>
<!-- This will execute when the user has chosen the major the want to finish -->
<button type="button" onclick="calculate()">Calculate</button>

<p>
</p>
<!-- This will show the classes the user still has to take for a specific major -->
<div id="calcMajor">

</div>


</body>
</html>
