<!DOCTYPE html>
<html>
<head>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
function returnMajor() 
{
    var majorSelected = document.getElementById("myMajor").value;
    //document.getElementById("demo").innerHTML = majorSelected;
    $.post("/major", //url
    {name: majorSelected}, //data 
    function(data) //function to call on return
    { 
      var json = JSON.parse(data);
      $("#coursesInto").append("<select id='myCourse'>")
      for(var i = 0; i < data.length;i++)
      {
        $("#myCourse").append("<option value= " + json[i].courseNumber + ">" + json[i].courseNumber + "</option>");
      }
      $("#coursesInto").append("</select>")
    }
    );
}

function addClass()
{

}

function createUser()
{
  var userName = document.getElementById(nameText).value;
}
</script>
<style>
body {background-color: LIGHTCORAL;}
h2   {color: black;}
p    {color: white;}
</style>
</head>
<body>

<h2>Carthage College Graduation Tracker</h2>

<p>
</p>

<p>Please enter your name:</p>
<input type="text" id="nameText">
<button type="button" onclick="createUser()">Okay</button>

<p>
</p>

<p>First add the classes you've taken</p>

<p>
</p>

<p> Please Select the Department: </p>

<div id="majorList">
  <select id="myMajor">
	  <% @all_majors.each do |names| %>	
      <option value= <%= names.name %>><%= names.name %> </option>
    <% end %>
  </select>			
</div>

<p>
</p>

<button type="button" onclick="returnMajor()">Continue</button>

 <p> Please Select the Course You've Taken </p>

<div id="coursesInto">

</div>

<p>
</p>

<button type="button" onclick="addClass()">Add Class</button>

</body>
</html>
